{{!
You can use this template to render any errors on your site if you wish
}}

<div class="handlebar">
    <h1>Error</h1>
    <p class="{{class}}">
    {{error}}
    </p>
    <a href="/">Search for Another Movie</a>
</div>
