<!-- 
This handlebar file will be rendered when the following route is hit: GET http://localhost:3000/
 
 The title of the document should be "Movie Finder". You should have the title set as the <title> element of the HTML document and as an h1 in your document.

Your page should reference a CSS file, /public/css/styles.css; this file should have at least 10 rulesets you must use at least 5 of them on this page. 


 -->

 <main>
    <div class="handlebar">
        <h1>{{title}}</h1>
        <p class="important">
        This website allows you to search for movies by title through the form below. Once you search, you will see up to 20 matching results that contain the keyword you entered.
        </p>
        <form method="post" action="/searchmovies">
            <label for="searchMoviesByName">Search Movies By Name</label> <br>
            <input type="text" name="searchMoviesByName" id="searchMoviesByName">
            <input type="submit" value="Search">
        </form>
    </div>
 </main>